:root {
    --main-bg: rgb(241, 229, 229);
    --secondary-bg: white;
    --key-bg: rgb(226, 221, 221);
    --border-radius: 7px;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    --key-size: 7vh;
    --font-size-large: 1.5rem;
    --border-b: 1px solid black;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50vh;
    height: 55vh;
    background-color: var(--main-bg);
    padding: 10px;
    border-radius: var(--border-radius);
    display: flex;
}


.calculatorBody {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}


.numBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    align-self: flex-end; 
    background-color: var(--secondary-bg);
    height: 35vh;
    width: 35vh;
    padding: 10px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.numKey {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--key-size);
    width: var(--key-size);
    margin: 5px;
    background-color: var(--key-bg);
    border: var(--border-b);
    border-radius: var(--border-radius);
    font-size: var(--font-size-large);
}


.numKey:nth-child(10) {
    width: 18vh;
}

.evalPadBody {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 35vh;
    width: 10vh;
    padding: 10px;
    border-radius: var(--border-radius);
    background-color: var(--secondary-bg);
    box-shadow: var(--box-shadow);
    align-self: end

}

.evalKey {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--key-size);
    width: var(--key-size);
    margin: 5px;
    background-color: var(--key-bg);
    border: var(--border-b);
    border-radius: var(--border-radius);
    font-size: var(--font-size-large);
    text-align: center;
}


.topBody {
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: 50vh;
    height: 20vh;
    align-items: center;
    gap: 2px;
}

.lowerBody {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 2px;
    width: 50vh;
    height: 45vh;
}

.evalWindow {
    display: flex;
    justify-content: center;
    height: 15vh;
    width: 35vh;
    background-color: var(--secondary-bg);
    border-radius: var(--border-radius);
    padding: 10px;
    box-shadow: var(--box-shadow);

}

.evalInputWindow {
    justify-content: center;
    align-self: center;
    height: 5vh;
    width: 25vh;
    background-color: var(--secondary-bg);
    border-radius: var(--border-radius);
    font-size: large;
}


.evalKeyWindow {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 15vh; 
    width: 10vh;
    background-color: var(--secondary-bg);
    border-radius: var(--border-radius);
    padding: 10px;
    box-shadow: var(--box-shadow);

}

.topEvalKey {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--key-size);
    width: var(--key-size);
    margin: 5px;
    background-color: var(--key-bg);
    border: var(--border-b);
    border-radius: var(--border-radius);
    font-size: var(--font-size-large);
}